* {
  font-family: "Calibri Light", Courier, monospace;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
  margin-top: 16px;
}

#container {
  display: flex;
}

#info-div {
  width: 65%;
  margin-right: 20px;
}
#img-div {
  width: 35%;
}

@media (max-width: 659px) {
  #container {
    flex-direction: column;
  }
  #info-div {
    width: 100%;
    order: 2;
  }
  #img-div {
    width: 100%;
    order: 1;
  }
}
